asgiref==3.10.0
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.2.8
django-robots==6.1
et_xmlfile==2.0.0
greenlet==3.2.4
idna==3.11
isodate==0.7.2
jalali_core==1.0.0
jdatetime==5.2.0
lxml==6.0.2
openpyxl==3.1.5
pillow==12.0.0
platformdirs==4.5.0
playwright==1.55.0
pyee==13.0.0
python-dotenv==1.2.1
pytz==2025.2
reportlab==4.4.4
requests==2.32.5
requests-file==3.0.1
requests-toolbelt==1.0.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.11.0
zeep==4.3.2