{% load booking_filters %}

<h1>{{ page_title }}</h1>
<p><strong>تاریخ:</strong> {{ today|to_jalali:"%A, %d %B %Y" }}</p>
<hr>

<h3>لیست بیماران امروز</h3>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="form-table report-table">
        <thead>
            <tr>
                <th>ساعت</th>
                <th>نام بیمار</th>
                <th>کد ملی</th>
                <th>نوع بیمه</th>
                <th>مبلغ دریافتی</th>
                <th>شرح خدمات</th>
                <th>نحوه پرداخت</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                <tr>
                    <td data-label="ساعت">{{ form.instance.appointment_datetime|time:"H:i" }}</td>
                    <td data-label="نام بیمار">{{ form.instance.patient_name }}</td>
                    <td data-label="کد ملی">{{ form.instance.patient_national_id|default:"-" }}</td>
                    <td data-label="نوع بیمه">{{ form.insurance_type }}</td>
                    <td data-label="مبلغ دریافتی">{{ form.visit_fee_paid }}</td>
                    <td data-label="شرح خدمات">{{ form.service_description }}</td>
                    <td data-label="نحوه پرداخت">{{ form.payment_method }}</td>
                    {{ form.id }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="update_appointments" class="btn-submit">ذخیره تغییرات نوبت‌ها</button>
</form>
