{% extends 'booking/base.html' %}

{% block title %}{{ page_title }} - AvalNobat{% endblock %}

{% block content %}
<div class="form-container" style="text-align: center;">
    <h1>{{ page_title }}</h1>
    <hr>
    <p>آیا از حذف برنامه کاری زیر اطمینان دارید؟</p>
    <p><strong>{{ availability.get_day_of_week_display }} - شیفت {{ availability.get_shift_display }} ({{ availability.start_time|time:"H:i" }} تا {{ availability.end_time|time:"H:i" }})</strong></p>
    <br>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger">بله، حذف کن</button>
        <a href="{% url 'booking:doctor_dashboard' %}" class="btn-secondary">خیر، بازگشت</a>
    </form>
</div>
{% endblock %}
