{% extends 'booking/base.html' %}

{% block title %}{{ page_title }} - AvalNobat{% endblock %}

{% block content %}
<div class="form-container">
    <div style="position: relative;">
        <h2 class="elegant-title">{{ page_title }}</h2>
        <a href="{% url 'booking:doctor_list' %}" class="home-icon-link" title="صفحه اصلی">
            <i class="fas fa-home"></i>
        </a>
    </div>
    <p>در این صفحه می‌توانید اطلاعات پروفایل خود را که به بیماران نمایش داده می‌شود، ویرایش کنید.</p>
    <hr>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h3>اطلاعات پایه</h3>
        {{ user_form.as_p }}

        <hr style="margin: 2rem 0;">

        <h3>اطلاعات پروفایل تخصصی</h3>
        {{ profile_form.as_p }}

        <button type="submit" class="btn-submit">ذخیره تغییرات</button>
    </form>
</div>
{% endblock %}
