{% extends 'booking/base.html' %}

{% block title %}{{ page_title }} - AvalNobat{% endblock %}

{% block content %}
<div class="form-container">
    <h1>{{ page_title }}</h1>
    <p>در این صفحه می‌توانید جزئیات برنامه کاری خود را ویرایش کنید.</p>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">ذخیره تغییرات</button>
        <a href="{% url 'booking:doctor_dashboard' %}" class="btn-secondary">انصراف</a>
    </form>
</div>
{% endblock %}
