{% extends 'booking/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>{{ page_title }}</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <p>رمز عبور شما با موفقیت تغییر کرد.</p>
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-block">ورود به حساب کاربری</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
