{% extends "booking/base.html" %}

{% block title %}ورود به پنل کاربری{% endblock %}

{% block content %}
<div class="form-container">
    <h2>در حال انتقال به پنل کاربری...</h2>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Always redirect to the patient dashboard. The server-side decorator
        // will handle the authentication check and redirect to the patient login
        // page if necessary.
        window.location.href = "{% url 'booking:patient_dashboard' %}";
    });
</script>
{% endblock %}
